/* font-family: 'Lobster', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --bg-color: #ffcece;

  --primary-color: #ffc1c8;

  --secondary-color: #ffe3b0;

  --accent-color: #8ed6ff;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 65px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.hero-text {
  margin-top: 170px;
}

.hero {
  font-size: 16px;
}

.hero-card {
  background-color: var(--bg-color);
  margin: 15px;
  padding-bottom: 120px;
}

.profile-picture {
  max-width: 400px;
  margin-top: 125px;
  background: var(--secondary-color);
}

.about-link {
  color: black;
  opacity: 80%;
  text-decoration: none;
  margin-top: 70px;
}

.about-link:hover {
  text-decoration: underline;
  color: white;
  transition: all 250ms ease-in-out;
}

.contact-link {
  background: var(--accent-color);
  padding: 10px 15px;
  margin: 15px;
}

.contact-link:hover {
  background-color: var(--accent-color);
  color: white;
  transition: all 250ms ease-in-out;
}

.project-description {
  padding: 120px 60px;
}

.description-text {
  margin-top: 35px;
  line-height: 1.8;
}

.btn-project {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 15px 20px;
}

.btn-project:hover {
  background-color: var(--accent-color);
  color: white;
  transition: all 250ms ease-in-out;
}

.web-img {
  max-height: 400px;
  margin-top: 60px;
}

.icons-media-container {
  background-color: var(--secondary-color);
  opacity: 70%;
  margin: 30px 700px;
  padding: 10px;
  border-radius: 10px;
}

.icons-media {
  display: inline;
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  color: grey;
  text-decoration: none;
}

@media (max-width: 960px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  .project-description {
    text-align: center;
    padding: 30px;
  }
}
