/* font-family: 'Lobster', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --bg-color: #ffcece;

  --primary-color: #ffc1c8;

  --secondary-color: #ffe3b0;

  --accent-color: #8ed6ff;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 65px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

ul.media {
  list-style: none;
  padding: 30px;
  margin: 50px;
  background-color: #ffe3b0;
}

li.social a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 2;
  color: grey;
}

li.social a:hover {
  color: white;
  transition: all 250ms ease-in-out;
}

nav {
  padding: 20px 0 0;
  font-family: "Poppins", sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  line-height: 40px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--accent-color);
}

.hero-text {
  margin-top: 170px;
}

.hero {
  font-size: 16px;
}

.hero-card {
  background-color: var(--bg-color);
  margin: 15px;
  padding-bottom: 120px;
}

.profile-picture {
  max-width: 400px;
  margin: 100px auto;
  background: var(--secondary-color);
}

.about-link {
  color: black;
  opacity: 80%;
  text-decoration: none;
  margin-top: 70px;
}

.about-link:hover {
  text-decoration: underline;
  color: white;
  transition: all 250ms ease-in-out;
}

.contact-link {
  background: var(--accent-color);
  padding: 10px 15px;
  margin: 15px;
}

.contact-link:hover {
  background-color: var(--accent-color);
  color: white;
  transition: all 250ms ease-in-out;
}

.project-description {
  padding: 120px 60px;
}

.project-caption {
  font-size: 15px;
  font-weight: bold;
}

.description-text {
  margin-top: 35px;
  line-height: 1.8;
}

.btn-project {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 15px 20px;
}

.btn-project:hover {
  background-color: var(--accent-color);
  color: white;
  transition: all 250ms ease-in-out;
}

.web-img {
  max-height: 400px;
  margin-top: 20px;
  background-color: #f8f8f8;
}

.content {
  background-color: var(--bg-color);
  padding: 170px;
}

.icons-media-container {
  background-color: var(--accent-color);
  opacity: 70%;
  margin: 30px 140px;
  padding: 10px;
  border-radius: 10px;
}

.icons-media {
  display: inline;
  font-size: 35px;
  margin: 20px;
  color: #4b4848a4;
  text-decoration: none;
}

.work-link {
  background: var(--accent-color);
  padding: 10px 15px;
  margin: 20px 0;
}

.work-link:hover {
  background-color: var(--accent-color);
  color: white;
  transition: all 250ms ease-in-out;
}

.content a {
  text-decoration: none;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
text-decoration: none;
color: black;
font-size: 24px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
margin: 0 20px;
color: var(--accent-color);
background-color: #ffcecedd;
font-size: 18px;
padding: 10px 14px;
border-radius: 50%;
transition: all 100ms ease-in-out ;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--accent-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  ul {
    margin: 30px;
  }

  .profile-picture {
    max-width: 300px;
    margin: 20px auto !important;
  }

  .project-description {
    text-align: center;
    padding: 30px;
  }

  .about-body {
    padding: 30px;
    text-align: center;
  }

  .icons-media-container {
    padding: 0;
    margin: 30px;
  }

  .content {
    padding: 0;
    text-align: center;
  }
}
